{% extends 'base_minimal.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login via Pihak Ketiga{% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<body class="login-page">
    <div class="login-box">
        <h2>Login via {{ provider.name }}</h2>

        {% if process == "connect" %}
            <p class="social-info">Anda akan menghubungkan akun Google Anda ke akun Prediksi-Kan yang sudah ada.</p>
        {% else %}
            <p class="social-info">Anda akan login menggunakan akun Google Anda.</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn-login">Lanjutkan</button>
        </form>
        
        <div class="links">
             <a href="{% url 'home' %}" class="back-link">Batal dan Kembali ke Home</a>
        </div>
    </div>
</body>
{% endblock %}