{% extends 'base.html' %}
{% load socialaccount %} {% block content %}
    <h2>Login</h2>

    {% if form.errors %}
        <p style="color: red;">Username atau password salah.</p>
    {% endif %}

    <a href="{% provider_login_url 'google' %}">Login dengan Google</a>

    <hr>
    <p>Atau login dengan email/password (jika Anda admin superuser):</p>
    
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
{% endblock %}